[submodule "externals/monodevelop"]
	path = externals/monodevelop
	url = https://github.com/mono/monodevelop.git
	shallow = true
[submodule "externals/XAMLStudio"]
	path = externals/XAMLStudio
	url = https://github.com/lextudio/xamlstudio.git
[submodule "externals/OpenDevelop"]
	path = externals/OpenDevelop
	url = https://github.com/lextudio/OpenDevelop
