[submodule "externals/SharpDevelop"]
	path = externals/SharpDevelop
	url = https://github.com/lextudio/SharpDevelop.git
[submodule "externals/sharpdbg"]
	path = externals/sharpdbg
	url = https://github.com/lextudio/sharpdbg.git
[submodule "externals/project-system"]
	path = externals/project-system
	url = https://github.com/dotnet/project-system.git
[submodule "externals/monodevelop"]
	path = externals/monodevelop
	url = https://github.com/mono/monodevelop.git
	shallow = true
[submodule "externals/cps-shims"]
	path = externals/cps-shims
	url = https://github.com/lextudio/cps-shims.git
[submodule "externals/XAMLStudio"]
	path = externals/XAMLStudio
	url = https://github.com/lextudio/xamlstudio.git
[submodule "externals/AXSG"]
	path = externals/AXSG
	url = https://github.com/wieslawsoltes/XamlToCSharpGenerator.git
[submodule "externals/OpenDevelop"]
	path = externals/OpenDevelop
	url = https://github.com/lextudio/OpenDevelop
